.logo{
    width: 200px;
    padding-bottom: 30px;
}

.app-div{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 30px;
    margin-bottom: 10px;
}