<div class="container">
  <div class=search-div>
    <input type="text" placeholder="Buscar productos..." [(ngModel)]="searchText" (input)="applyFilters()"
      class="search-input" />
    <a href="/form">
      <button class=buttons>Agregar</button>
    </a>
  </div>

  <div style="overflow-x: auto;">
    <table class="products-table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de restructuración</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td><img [src]="product.logo" alt="logo" class="logo" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release }}</td>
          <td>{{ product.date_revision }}</td>
          <td class="actions">
            <div class="dropdown">
              <div style="display: flex;">
                <div class="menu-item" (click)="editProduct(product)">Editar</div>
                <div class="menu-item" (click)="promptDelete(product)">Eliminar</div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer">
    <p>{{ filteredProducts.length }} Resultados</p>
    <select class="custom-select" [(ngModel)]="itemsToShow" (change)="applyFilters()">
      <option *ngFor="let opt of [5, 10, 20]" [value]="opt">{{ opt }}</option>
    </select>

  </div>
</div>

<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <p>¿Deseas eliminar este producto {{ productToDelete?.name }}?</p>
    <div class="buttons-div">
      <button class="cancel" (click)="cancelDelete()">Cancelar</button>
      <button class="confirm" (click)="confirmDelete()">Eliminar</button>
    </div>
  </div>
</div>